

footer-links a {
  padding-bottom: 2px;
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: #F4EEDC;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}
